@import 'variables';

.navbar-custom{

    background: $c1;
    box-shadow: 0 4px 4px 0px rgba(214, 214, 214, 0.55);
    .logo{
      // background: white;
      height:100%;
      width: 100%;
      text-align: center;
      img{
        // padding: 10px;
        height: 95%;
      }
    }
}
body{
    // background-color: #f6f6f6;
    background-color: white;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(0deg, $c1, $c1 1px, #e5e5f7 1px, #e5e5f7);
}

